:root {
    --color-primary: #ff9c1b;
    --color-secondary: #05065a;
    --color-text: #1b1b1b;
    --color-bg: #f6f6f6;
  
    --font-body: 'Open Sans', sans-serif;
    --font-heading: 'Montserrat', sans-serif;

    --spacing-small: 0.5rem;
    --spacing-medium: 1rem;
    --spacing-large: 2rem;
}

body{
    background-color: var(--color-bg);
}

header {
    padding-block-start: 5px;
    padding-block-end: 40px;
}

.site_header{
    display: flex;
    align-items: center;
    gap: 15px;
    flex-direction: row;
    justify-content: space-between;
}

.site_logo{
    margin-block-end: 0;
}

.main_nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;
    gap: 3px;
}

.nav_link{
    font-weight: 500;
    font-size: 130%;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-text);
    display: block;
    text-align: center;
    transition: color 0.2s ease-out;
}

.nav_item {
    margin: 2rem;
}