:root {
	--color-primary: #ff9c1b;
	--color-secondary: #05065a;
	--color-text: #1b1b1b;
	--color-accent: #f6f6f6;
	--color-bg: #f6f6f6;

	--font-family-main: "bahnschrift_normal", system-ui, sans-serif;
	--font-family-alt: "bahnschrift_bold", system-ui, sans-serif;
}

@font-face {
	font-family: bahnschrift_bold;
	src: url(../public/assets/fonts/bahnschrift.ttf);
	font-style: bold;
}

@font-face {
	font-family: bahnschrift_normal;
	src: url(../public/assets/fonts/bahnschrift.ttf);
	font-style: normal;
}

header {
	margin: 0 auto;
	padding: 0;
	background-color: #0a0a0a;
	margin-bottom: 10vh;
}

body {
	margin: 0 auto;
	padding: 0 auto;
}

.site_header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	gap: 8px;
	padding: 16px 0;
}

.site_logo {
	margin-block-end: 2rem;
}

.nav_menu {
	width: 100%;
}

.main_nav {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}

.nav_link {
	display: block;
	text-align: center;
	padding: 12px 0;
	font-weight: 500;
	font-size: 150%;
	text-transform: uppercase;
	text-decoration: none;
	color: var(--color-accent);
	font-family: var(--font-family-alt);
	letter-spacing: 0.2rem;
}

.nav_item {
	flex: 1;
	margin: 0;
	list-style: none;
	transition: font-size 0.3s ease-in-out;
}

.nav_item:hover {
	font-size: 130%;
}


.character_carousel {
	position: relative;
	margin: 1rem;
	overflow: hidden;
}

#slides-container {
	display: flex;
	scroll-behavior: smooth;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

.slide {
	flex: 0 0 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem;
}

.img_container img {
	max-width: 60%;
	height: 20vh;
}

.character_list h1 {
	font-family: var(--font-family-alt);
	text-transform: uppercase;
}

.character_list h3 {
	font-family: var(--font-family-main);
}


.btn {
	border-radius: 100%;
	border: none;
	box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.377);
	width: 50px;
	height: 50px;
	padding: 0;
	cursor: pointer;
	position: absolute;
	background: white;
	opacity: 0.6;
	transition: opacity .2s;
}

.btn:hover {
	opacity: 1;
}

.btn img {
	width: 50%;
	height: 50%;
	padding-top: 7%;
}

.arrow-left {
	left: 10px;
	top: 0;
	bottom: 0;
	margin: auto;
}

.arrow-right {
	right: 10px;
	top: 0;
	bottom: 0;
	margin: auto;
}


footer {
	bottom: 0%;
	background-color: #0a0a0a;
	padding: 15vh;
	margin: 0 auto;
	margin-top: 20vh;
}

.footer_credits {
	grid-area: 1 / 3 / 2 / 4;
	font-family: var(--font-family-main);
	font-size: 1.2rem;
	color: rgb(242, 250, 255);
	padding: 0;
	margin: 0 auto;
}

.footer_socials {
	grid-area: 1 / 2 / 2 / 3;
	font-family: var(--font-family-main);
	font-size: 1.2rem;
	color: rgb(242, 250, 255);
	padding: 0;
	margin: 0 auto;
}

.footer_studio {
	grid-area: 1 / 1 / 2 / 2;
	font-family: var(--font-family-main);
	font-size: 1.2rem;
	color: rgb(242, 250, 255);
	padding: 0;
	margin: 0 auto;
}

.footer_logo {
	height: 1.2rem;
	max-width: 100%;
	margin: 0 auto;
	margin-bottom: -0.1rem;
	margin-right: 0.2rem;
	margin-left: -0.2rem;
	padding: 0;
}

.footer_link {
	text-decoration: none;
	color: rgb(242, 250, 255);
}

.footer_grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}