:root {
    --color-primary: #e50102;
    --color-secondary: #fecf03;
    --color-text: #040404;
    --color-bg: #FFFFFF;
  
    --font-body: 'Open Sans', sans-serif;
  --font-heading: 'Montserrat', sans-serif;

  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
  --spacing-large: 2rem;
}
/* Utilisation des variables */
body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: var(--font-body);
  }
  
  h1 {
    color: var(--color-primary);
    font-family: var(--font-heading);
    margin-bottom: var(--spacing-large);
  }
  
