:root {
    --color-primary: #ff9c1b;
    --color-secondary: #05065a;
    --color-text: #1b1b1b;
    --color-accent: #f6f6f6;
    --color-bg: #f6f6f6;
  
    --font-family-main: "bahnschrift_normal", system-ui, sans-serif;
    --font-family-alt: "bahnschrift_bold", system-ui, sans-serif;
}

@font-face {
	font-family: bahnschrift_bold;
	src: url(../public/assets/fonts/bahnschrift.ttf);
  font-style: bold;
}

@font-face {
	font-family: bahnschrift_normal;
	src: url(../public/assets/fonts/bahnschrift.ttf);
  font-style: normal;
}

body{
    background: url(../public/assets/images_histoire/kame_house_bg_dark.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: var(--color-bg);
}






header {
    padding-block-start: 0px;
    padding-block-end: 100vh;
}

.site_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 8px;
  padding: 16px 0;
}

.site_logo{
    margin-block-end: 2rem;
}

.nav_menu {
  width: 100%;
}

.main_nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}


.nav_link {
  display: block;
  text-align: center;
  padding: 12px 0;
  font-weight: 500;
  font-size: 150%;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-accent);
  font-family: var(--font-family-alt);
  letter-spacing: 0.2rem;
}

.nav_item {
  flex: 1;
  margin: 0;
  list-style: none;
  transition: font-size 0.3s ease-in-out;
}

.nav_item:hover{
  font-size: 130%;
}






.scroll_btn {
  border-radius: 100%;
  border: none;
  width: 45px;
  height: 45px;
  position: absolute;
  bottom: 10%;
  animation: wiggle 1.5s ease-in-out infinite;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.377);
}

.scroll_btn img {
  padding-top: 20%;
}

@keyframes wiggle {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}


.story_title {
  font-family: var(--font-family-alt);
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  letter-spacing: 3rem;
  font-size: 40vh;
}

.story_text {
  font-family: var(--font-family-main);
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}




footer{
  bottom: 0%;
  position: fixed;
}

.footer_p{
  font-family: var(--font-family-main);
}

.footer_link{
  text-decoration: none;
  color: black;
}