:root {
	--color-primary: #ff9c1b;
	--color-secondary: #05065a;
	--color-text: #1b1b1b;
	--color-accent: #f6f6f6;
	--color-bg: #f6f6f6;
	--font-family-main: "bahnschrift_normal", system-ui, sans-serif;
	--font-family-alt: "bahnschrift_bold", system-ui, sans-serif;
	--font-family-text: "futura_book", system-ui, sans-serif;
}

@font-face {
	font-family: bahnschrift_bold;
	src: url(../public/assets/fonts/bahnschrift.ttf);
	font-style: bold;
}

@font-face {
	font-family: bahnschrift_normal;
	src: url(../public/assets/fonts/bahnschrift.ttf);
	font-style: normal;
}

@font-face {
	font-family: futura_book;
	src: url(../public/assets/fonts/FuturaCyrillicLight.woff);
	font-style: normal;
}

body {
	background: url(../public/assets/images_histoire/kame_house_bg_dark.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: var(--color-bg);
	margin: 0 auto;
	padding: 0;
}

header {
	padding-block-start: 0px;
	padding-block-end: 100vh;
}

.site_header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	gap: 8px;
	padding: 16px 0;
}

.site_logo {
	margin-block-end: 2rem;
}

.nav_menu {
	width: 100%;
}

.main_nav {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	gap: 0;
}

.nav_link {
	display: block;
	text-align: center;
	padding: 12px 0;
	font-weight: 500;
	font-size: 150%;
	text-transform: uppercase;
	text-decoration: none;
	color: var(--color-accent);
	font-family: var(--font-family-alt);
	letter-spacing: 0.2rem;
}

.nav_item {
	flex: 1;
	margin: 0;
	list-style: none;
	transition: font-size 0.3s ease-in-out;
}

.nav_item:hover {
	font-size: 130%;
}

.scroll_btn {
	border-radius: 100%;
	border: none;
	width: 45px;
	height: 45px;
	position: absolute;
	bottom: 10%;
	animation: wiggle 1.5s ease-in-out infinite;
	box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.377);
	cursor: pointer;
}

.scroll_btn img {
	padding-top: 20%;
}

@keyframes wiggle {

	0%,
	100% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-10px);
	}
}

.story_div {
	display: grid;
	width: 100%;
	gap: 20px;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: auto auto auto;
	max-width: 76vw;
	width: 100%;
	margin: 0 auto;
	margin-top: 10vh;
	padding: 0;
}

.story_title {
	grid-column: 1 / 2;
	font-family: var(--font-family-alt);
	text-transform: uppercase;
	letter-spacing: 3rem;
	font-size: 17rem;
	margin: 0 auto;
	padding: 0;
  color: #0a0a0a;
}

.story_text_1 {
	grid-column: 1 / 3;
	font-family: var(--font-family-text);
	font-size: 1.5rem;
	letter-spacing: 0.1rem;
	margin: 0 auto;
	padding: 0;
  color: #0a0a0a;
}

.story_text_2 {
	grid-column: 2 / 3;
	grid-row: 2 / 4;
	font-family: var(--font-family-text);
	font-size: 1.5rem;
	letter-spacing: 0.1rem;
	margin: 0 auto;
	padding: 0;
  color: #0a0a0a;
}

.story_text_3 {
	grid-column: 1 / 2;
	font-family: var(--font-family-text);
	font-size: 1.5rem;
	letter-spacing: 0.1rem;
	margin: 0 auto;
	padding: 0;
  color: #0a0a0a;
}

footer {
	bottom: 0%;
	background-color: #0a0a0a;
	padding: 15vh;
	margin: 0 auto;
	margin-top: 20vh;
}

.footer_credits {
	grid-area: 1 / 3 / 2 / 4;
	font-family: var(--font-family-main);
	font-size: 1.2rem;
	color: rgb(242, 250, 255);
	padding: 0;
	margin: 0 auto;
}

.footer_socials {
	grid-area: 1 / 2 / 2 / 3;
	font-family: var(--font-family-main);
	font-size: 1.2rem;
	color: rgb(242, 250, 255);
	padding: 0;
	margin: 0 auto;
}

.footer_studio {
	grid-area: 1 / 1 / 2 / 2;
	font-family: var(--font-family-main);
	font-size: 1.2rem;
	color: rgb(242, 250, 255);
	padding: 0;
	margin: 0 auto;
}

.footer_logo {
	height: 1.2rem;
	max-width: 100%;
	margin: 0 auto;
	margin-bottom: -0.1rem;
	margin-right: 0.2rem;
	margin-left: -0.2rem;
	padding: 0;
}

.footer_link {
	text-decoration: none;
	color: rgb(242, 250, 255);
}

.footer_grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}